---
metadata:
 name: "Check that all resources are tagged with the key"
 guidelines: "Dynamic Policy to check tags on security groups" 
 category: "general"
 severity: "high"
scope:
 provider: aws
definition:
  and:
    - or:
      - cond_type: "attribute"
        resource_types:
            - aws_security_group
        attribute: "tags.component"
        operator: contains
        value:
        {% for component in components -%}
            - "{{ component }}"
        {% endfor %}