---
metadata:
    name: "Ensure security groups have valid component tags" 
    guidelines: "Dynamic Policy to check tags on security groups"
    severity: "high"
    category: "general"
scope:
    provider: "aws"
definition:
    cond_type: "attribute"
    resource_types:
        - "aws_security_group"
    attribute: "tags.component"
    operator: "within" 
    value:
        {% for component in components -%}
        - "{{ component }}"
        {% endfor %}
